:root {
    --primary-white-color: #FFFFFF;
    --iris-color: #4d5ae5;
    --vanyblue: #2e2f42;
    --slate: #434455;
    --cloud: #F4F4FD;
}

p, h1,h1,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--slate);
    background-color: var(--primary-white-color);
}

.container {
    width: 100%;
    max-width: 1188px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /* outline: 2px solid red; */
}
.visually-hidden {
    clip: rect(1px 1px 1px 1px);
        /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
        /* browsers in the future */
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
}

/* -----------Header Page------------- */
.header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

.header-navigation {}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris-color);
    margin-right: 76px;
}

.header-logo-accent {
    color: var(--vanyblue);
        font-size: 18px;
        font-family: Raleway;
        font-weight: 800;
        line-height: 21px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
}

.header-container {
    display: flex;
}

.header-navigation {
display: flex;
}

.header-menu {
display: flex;
gap: 40px;
}

.header-contacts {
   margin-left: auto;
}

.header-contacts-list {
display: flex;
gap: 40px;
margin-right: auto;
}

.header-menu-item {}

.header-menu-link {
font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--vanyblue);
}

.header-menu-link:hover {
    color: #404bbf;
}
.header-menu-link:focus {
    color: #404bbf;
}

.header-contacts {
    font-style: normal;
}


.header-contacts-item {}

.header-contacts-item:hover,
.header-contacts-item:focus {
    color: #404bbf;
}

.header-contacts-link {
    font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--slate);
}

.header-contacts-link:hover {
    color: #404bbf;
}
.header-contacts-link:focus {
  color: #404bbf;  
}
/* -----------HERO------------- */
.hero {
    background-color: var(--vanyblue);
    padding-bottom: 188px;
}

.hero-container {
}

.hero-title {
    color: var(--primary-white-color);
font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
        width: 496px;
        padding-top: 188px;
        margin: 0 auto;
        margin-bottom: 48px;
}
.hero-btn {
    color: var(--primary-white-color);
    font-size: 16px;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background-color: var(--iris-color);
        cursor: pointer;
        padding: 16px 32px;
        border: none;
        border-radius: 4px;
        margin: 0 auto;
        display: block;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}

/* -----------Advantages------------- */
.advantages {
    background: var(--primary-white-color);
    padding-top: 120px;
    padding-bottom: 120px;
}

.advantages-list {
    display: flex;
    gap: 24px;
}

.advantages-item {
    width: calc((100% - 24px * 3) / 4);
}

.advantages-subtitle {
    font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--vanyblue);
}

.advantages-item-text {
    font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--slate);
}
/* -----------Work------------- */

.work {
    background: var(--primary-white-color);
}

.work-title {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: var(--vanyblue);
        margin-bottom: 72px;
}

.work-list {
display: flex;
gap: 19px;
margin-bottom: 120px;
}

.work-list-item {
    width: calc((100% - 48px) / 3);
}

/* -----------Team------------- */

.team {
    background-color: #F4F4FD;
}

.team-title {
    color: var(--vanyblue);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;  
        margin: 0 auto;
        padding-top: 120px;
        padding-bottom: 72px;
        
}

.team-list {
    display: flex;
    gap: 24px;
    padding-bottom: 120px;
    
}

.team-list-item {
    background-color: var(--primary-white-color);
    width: calc((100% - 72px) / 4);
   max-width: 264px;
}

.team-subtitle {
    color: var(--vanyblue);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        padding-top: 32px;
        gap: 8px;
}

.team-subtitle-text {
    color: var(--slate);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.50;
        letter-spacing: 0.02em;
        text-align: center;
        padding-bottom: 32px;
}

/* -----------Footer------------- */ 

.footer {
    background-color: var(--vanyblue);
    padding-top: 101.5px;
    padding-bottom: 100px;
}

.footer-logo {
    color: var(--iris-color);
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        font-family: "Raleway", sans-serif;
        max-width: 115px;
}

.foooter-logo-accent {
    color: #F4F4FD;
        font-size: 18px;
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        line-height: 1.2;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.footer-logo-text {
    color: #F4F4FD;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        max-width: 264px;
        margin-top: 17.5px;
}


/* _______________________PORTFOLIO_______________________ */


.bro {

}

.bro-title {}

.bro-btn-list {
    display: flex;
    max-width: 556px;
    gap: 24px;
    width: calc((100% - 24 * 4) / 5);
    margin: 0 auto;
    padding-top: 96px;
    
}

.bro-btn-item {
/* align-items: center;
border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);
} */
}

.bro-btn-text {
    color: var(--iris-color);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background-color: var(--cloud);
        font-family: "Roboto", sans-serif;
        cursor: pointer;
}

.bro-btn-text:hover,
.bro-btn-text:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    }

/* -------------IMG SECTION------------- */

.bro-img-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    margin-top: 72px;
    margin-bottom: 120px;
}

.bro-img-item {
    background-color: var(--primary-white-color);
}

.bro-img-subtitle {
    color: var(--vanyblue);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-top: 32px;
        padding: 0px 16px;
}
.bro-img-text {
    color: var(--slate);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 0px 16px;
}