body {
    font-family: 'Roboto', sans-serif ;
    color: #434455;
    background-color: #FFFFFF;
}
ul {
list-style-type: none;
}
a {
text-decoration: none;
}

/* -------------------------HEADER------------------------- */

.header {}

.header-navigation {}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.header-logo-accent {
    color: #2e2f42;
}

.header-menu-list {}

.header-menu-item {}

.header-menu-link {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #404bbf;
}


.header-address{
    font-style: normal;
}
.header-address-list {}

.header-address-item {}

.header-address-link {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.header-address-link:hover,
.header-address-link:focus {
    color: #404bbf;
}
/* -------------------------------------------------- */


/* -------------------------HERO------------------------- */
.hero {
    background: #2e2f42;
}

.hero-title {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

.hero-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background: #4d5ae5;
        cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background: #404bbf;
}

/* -------------------------------------------------- */

/* -------------------------FEATURE------------------------- */

.feature {}

.feature-tittle {
    
}

.feature-list {}

.feature-item {}

.feature-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.feature-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/* -------------------------------------------------- */

/* -------------------------TEAM------------------------- */
.team {
    background: #f4f4fd;
}

.team-title {
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
}

.team-list {}

.team-item {
    background-color: #FFFFFF;
}

.team-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.team-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
/* -------------------------------------------------- */

/* -------------------------PORTFOLIO------------------------- */
.portfolio {}

.portfolio-title {
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
}

.portfolio-list {}

.portfolio-item {}

.portfolio-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.portfolio-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* -------------------------------------------------- */

/* -------------------------FOOTER------------------------- */


.footer {
    background: #2e2f42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.footer-logo-accent {
    color: #f4f4fd;
}

.foter-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}